th, td {
    text-align: center;
    font-family: Barlow;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
}
h4.meethead {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color:#346dd9;
}
.card.p-3 {
    box-shadow: 0px 4px 4px rgb(10 104 185 / 10%);
    border-radius: 5px;
}

.rightalign a,.rightalign a:focus{
    text-decoration: none;
    color: #ffffff;
}
button.btn.btnClass {
    background: #346dd9;
}
.dataTables_wrapper .dataTables_length {
    display: none !important;
}
table.dataTable thead th, table.dataTable tbody td{
border-bottom: unset !important;
}
table.dataTable.no-footer {
    border-bottom:unset !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 7px !important;
}